#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Dark theme background styling */
body {
    background-color: #101010;
    /* Very dark background */
    color: #ffffff;
    /* Default light text */
    margin: 0;
    font-family: Arial, sans-serif;
    /* Optional font choice */
}
